@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    font-family: "geologica";
    background-color: #121212;
}

.menu-contenido {
    /* display: grid; */
    /* grid-template-columns: 300px 1fr; */
    /* grid-template-rows: min-content 1fr min-content; */
    margin-bottom: 8rem;
}

.barra-arriba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    background-color: #101010;

    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
    opacity: .9;
}

.contenido-flechitas {
    display: flex;
    gap: 10px;
}

.flecha-izquierda,
.flecha-derecha {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
}

.flecha-izquierda,
.flecha-derecha :hover {
    cursor: no-drop;
}

.flecha-izquierda i,
.flecha-derecha i {
    color: #fff;
    font-size: 25px;
}

.botones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boton-registrar {
    color: #a7a7a7;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
}

.boton-registrar:hover {
    color: #a7a7a7;
    transform: scale(1.2);
}

.boton-inicio {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.boton-inicio:hover {
    transform: scale(1.1);
    background-color: #ecebeb;
}

.barra-nav {
    background-color: #000;
    color: #b3b3b3;
    padding-top: 24px;

    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    position: fixed;
    width: 25rem;
    height: 100%;

}

.logo-svg {
    color: #fff;
    width: 180px;
    padding: 0 24px;
}

.menu-barra {
    padding: 0 25px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-barra li {
    list-style: none;
}

.menu-barra li a {
    text-decoration: none;
    font-size: 15px;
    color: #b3b3b3;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    font-weight: 500;
    text-overflow: ellipsis;
    transition: .3s ease;
}

.menu-barra li a:hover {
    color: #fff;
}

.menu-barra li a i {
    font-size: 25px;
}

.opciones-barra {
    display: inline-flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 50px;
    flex: 1;
}

.opciones-barra button {
    border: none;
    outline: none;
    background: transparent;
    color: #b3b3b3;
    text-align: left;
    font-size: 15px;
    font-weight: 600;

    display: flex;
    gap: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.opciones-barra button:hover {
    color: #fff;
}

.opciones-barra button i {
    font-size: 20px;
}
.contenido-final{
    width: 100%;
    position: absolute;  bottom: 90px;
}
.link{
    display: flex;
    justify-content: center;
 

}

.boton-lenguaje {
    border: 1px solid #727272;
    background: none;
    color: #fff;
    padding: 5px;
    width: 75%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: inherit;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    transition: all .2s ease;
}

.boton-lenguaje:hover {
    transform: scale(1.05);
    border: 1px solid #ffffff;
}

.boton-lenguaje i {
    font-size: 25px;
}

.cookies {
    margin: 20px;
}

.cookies a {
    text-decoration: none;
    color: #b3b3b3;
    padding: 0 24px;
    margin: 32px 0;
}

.cookies a:hover {
    text-decoration: underline;
}

/* CONTENIDO */
.menu-contenido-playlists {
    grid-row: 1/3;
    grid-column: 2/-1;
    background-color: #121212;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 300px;
}

.menu-contenido-playlists hr {
    border: none;
    border-block-start: 1px solid var(--decorative-subdued, #292929);
}

.titulo-playlists {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    margin-bottom: 16px;
}

.titulo-playlists:hover {
    text-decoration: underline;
}

.contenido-enfoque,
.contenido-playlists {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}

.contenido-tarjeta-enfoque,
.contenido-tarjeta-playlists {
    display: grid;
    grid-template-columns: repeat(8, 200px);
    grid-gap: 20px;
    overflow: hidden;
    
}

.tarjeta-enfoque,
.tarjeta-playlists {
    background-color: #181818;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    transition: .3s ease;
    cursor: pointer;
}

.tarjeta-enfoque:hover,
.tarjeta-playlists:hover {
    background-color: #282828;
}

.tarjeta-img img {
    width: 100%;
    border-radius: 8px;
}

.tarjeta-img {
    overflow: hidden;
}

.tarjeta h2 {
    margin-top: 21px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.tarjeta p {
    font-size: 12px;
    color: #b3b3b3;
    font-weight: 400;
    line-height: 24px;
    text-overflow: ellipsis;
}



/* PARTE FINAL */
.boton-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    cursor: pointer;
}

.boton-banner .contenido {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;
}

.boton-banner .contenido span {
    font-size: 15px;
    text-transform: uppercase;
}

.boton-banner .contenido p {
    font-size: 15px;
}

footer{
    position: static;
    bottom: auto;
}